<li>
  <%= question.title %> </td>
  <%= link_to 'Edit', edit_question_path(answer) %>
  <%= link_to 'Show', question_path(answer) %>
  <%= link_to 'Delete', 
    test_path(question), 
    method: :delete, 
    data: { confirm: 'Are you sure?' } %>           
</li>   