<tr>
  <td class="align-middle text-center"> <%= badge.name %> </td>
  <td class="align-middle text-center"> <%= image_tag badge.image_url, class: "badge-image" %> </td>
  <td class="align-middle text-center"> <%= badge.rule.name %> </td>
</tr>
