<h1>The <%= @test_passage.test.title %> test was completed!</h1>

<% if @test_passage.passed? %>
  <p style="color: green"><%= @test_passage.result %>%</p>
  <p>Test was succesful!</p>
<% else %>
  <p style="color: red"><%= @test_passage.result %>%</p>
  <p>Test was not succesful!</p>
<% end %>
<%= link_to 'Back', tests_path %>
