<% if resource.present? && resource.errors.any? %>
  <%= content_tag :div, class: "alert alert-danger resource-errors", role: "alert", data: { resource_id: resource.id} do %>
    <h2>
      <%= t('.header', count: resource.errors.count)%>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
