<small>
  <p>
  <%= link_to 'TestGuru', github_url('GoncharukAD', 'test-guru') %> - это веб-приложение для создания, управления и выполнения тестов.
  Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/' %>.
  <%= github_url('GoncharukAD', '') %>.
  <%= current_year %>.
  </p>
</small>



