<% if user_signed_in? %>
    <p class="nav user">
      Welcome, <b><%= current_user.first_name || current_user.email %></b> <a href="/">Guru </a>
    <%= button_to 'Выйти',  destroy_user_session_path, method: :delete %>
    </p>
<% end %>
