<li>
  <%= answer.title %> </td>
  <%= link_to 'Edit', edit_answer_path(answer), title: 'Изменить вопрос' %>
  <%= link_to 'Show', answer_path(answer), title: 'Показать вопрос' %>
  <%= link_to 'Delete', 
    test_path(answer), 
    method: :delete, 
    data: { confirm: 'Are you sure?' },
    title: 'Удалить вопрос' %>           
</li>    
