<li>
  <%= question.title %> </td>
  <%= link_to 'Edit', edit_admin_question_path(question), title: 'Изменить вопрос' %>
  <%= link_to 'Show', admin_question_path(question), title: 'Показать вопрос' %>
  <%= link_to 'Delete',
    admin_test_path(question),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    title: 'Удалить вопрос'%>
</li>
