.successfull_result {
  color: green;
}

.unsuccessfull_result {
  color: red;
}

.timer-bar-value {
  font-size: 27px;
  font-style: italic;
  border: 2px solid crimson;
  margin-left: 36%;
  margin-right: 36%;
}
