<h1><%= t('header') %></h1>
<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>

<table>
  <tr>
    <th> t('header')</th>
    <th>Level</th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %><br>
</table>
