.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.valid{
  border: 2
  px solid green;
}

.invalid {
  border: 2px solid red;
}

.default {
  border: 2px solid black;
}
