<footer class="footer">
  <small><time><%= current_year %></time>
  <a href="https://github.com/GoncharukAD/TestGuru" target="_blank">TestGuru</a>
  Учебный проект школы <a href="https://thinknetica.com" target="_blank">Thinknetica</a>
  </small>
</footer>



